@import url('http://fonts.cdnfonts.com/css/tex-gyre-adventor');

body, .navfont {
  font-family: 'TeXGyreAdventor', sans-serif;
  font-weight: 500;
}

#map {
  height: 100vh;
}

#map-container {
  position: relative;
} 

.bg-darkgreen {
  background-color: #248232;
}

.bg-darkgreen:hover {
  background-color: #2d9f3e;
}

.nav {
  display: flex; 
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;

}

#categoriesBar {
  z-index: 314159;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#search-bar {
    position: absolute;
    z-index: 314159;
    top: 35px;
    left: 40px;
    padding: 30px; 
    display: none;
    border-width: 2px;
}

#results {
  max-height: 200px;
  max-width: 300px;
  overflow-y: scroll;
}

/* s */
@media (min-width: 576px) {

}

/* m */
@media (min-width: 768px) {
    #search-bar {
        display: block; 
        top: 10px;
    }
    
    #search-button-toggle {
      display: none;
    }
}

/* l */
@media (min-width: 992px) {

}

/* xl */
@media (min-width: 1200px) {
  #categoriesBar {
    position: absolute;
    top: 1rem;
    left: 26rem;
    z-index: 314159;
  }
  
  li.nav-item {
    margin-right: 0.85rem;
    margin: 0.2em;
  }

  .fa-solid {
    font-size: 1em;
    margin-top: 0.7em;
  }
  
  .navfont {
    font-size: 0.9rem;
  }

  .badge {
    padding-top: 0.75px;
    padding-bottom: 0.8px;
    padding-right: 11.5px;
    padding-left: 11.5px;
    height: 3em;
  }
}

/* xxl - desktop */
@media (min-width: 1400px) {
  #categoriesBar {
    position: absolute;
    top: 1rem;
    left: 22.5rem; 
    z-index: 314159;
  }

  #search-bar {
    position: absolute;
    z-index: 314159;
    top: 1rem;
    left: 20px;
    padding: 6.5px;
    background-color: white;
    padding-right: 0.5em;
    border: 1px solid #248232;
  }

  .green-buttons {
    color: #248232 !important;
      font-size: 1em;
      margin-top: 2px;
      padding: 1px;
  }

  input#search-entry {
    outline: none;
    border: none;
    background-color: white;
    padding-right: 50px;
    padding-left: 32px;
  }

  li.nav-item {
    margin-right: 0.85rem;
    margin: 0.2em;
  }

  span.fa-solid {
    font-size: 1em;
    margin-top: 0.7em;
  }

  .navfont {
    font-size: 0.9rem;
  }

  .badge {
    padding-top: 0.75px;
    padding-bottom: 0.8px;
    padding-right: 11.5px;
    padding-left: 11.5px;
    height: 3em;
  }
}